@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.wrap {
  width: 500px;
  position: relative;
}

.selectInput {
  border: 1px solid #ccc;
  height: 46px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.selectDropdown {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 46px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}
.selectOpen {
  display: block;
}
.selectInput {
  border-bottom: none;
}
.selectList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.selectItem {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.selectItem:hover {
  background-color: #eee;
  cursor: pointer;
  transition: 0.15s background-color ease-in;
}
